main {
    margin-top: calc(var(--nav-height) + 100px);
}

#dormitory{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dormitory > h1 {
    margin-bottom: 40px;
}

#dormitory #selection-container {
    font-size: var(--h2--font-size);
    display: flex;
    background-color: #a0d49c;
    border-radius: 40px;
    padding: 5px 10px;
    column-gap: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 25%);
}

.selection-item{
    padding: 5px 15px;
}

.select-menu,
.selection-item:hover{
    cursor: pointer;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 25%);
}

#calendar {
    /* width: 100%;
    max-width: 600px; */
    width: min(100%, 600px); /*600px보다 크면, 600px, 작으면 100%*/
}

#calendar,
#selection-washingmachine-time,
#selection-room-name,
#board{
    display: none;
}


#selection-washingmachine-time,
#selection-room-name,
#board{
    margin-top: 100px;
}

.flex-container{
    display: flex;
    column-gap: 20px;
}

#dormitory select,
#dormitory input{
    font-size: var(--h2--font-size);
    border: none;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 15px 20px;
}

.btn{
    font-size: var(--h2--font-size);
    padding: 10px 20px;
    margin-top: 40px;
    float: right; /*오른쪽 정렬*/
}

.board-container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    
}

#board .header{
    background-color: beige;
}

#board .item {
    color: black;
    font-size: var(--h2--font-size);
    border: 1px solid gray;
    height: 40px;
    padding: 10px 20px;
}